<nav class='catalog'>
    <ul>
      <li><a href="../">Home</a></li>
      <li><a href="Mike">Mike's Data</a></li>
      <li><a href="Hoang">Hoang's Data</a></li>
      <li><a href="Mike2">Mike's Second Game</a></li>
    </ul>
</nav>
