* {
  font-family: Raleway, sans-serif;
  padding: 0;
  margin: auto;
}

body, html {
  height: 100%;
}

/*Experiment with CSS and JS*/
.mike {
  min-height: 100%;
  position: relative;
  top: 35px;
  background-image: url("Profile.png");
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
  vertical-align:bottom;
  color: white;
  font-size: 80px;
}

div.header {
  position: relative;
  background-color: aqua;
  background-size: cover;
  background-attachment: scroll;
  background-origin: border-box;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  top: 30px;
}

h1 {
  text-shadow: -5px 0 #ccc, 0 4px #ccc, 2px 0 white, 0 -2px #ccc;
  text-align: center;
  font-family: 'Lobster', cursive;
  position: relative;
  top: 20vh;

  font-size: 10vw;
  color: black;
  padding: 0;
  z-index: 0;
}

h2 {
  text-align: center;
  position: relative;
  word-wrap: normal;
  top: 18vh;
  font-size: 2.5vw;
  color: #333;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  padding: 0;
  z-index: 0;
}

.activation {
  border-radius: 10px;
  background: pink;
  height: 200px;
  width: 200px;
}

#box-text {
  font-size: 3vh;
}

.sketch {
  position: relative;
  margin: auto;
}

div.intro {
  background-image: url("http://eskipaper.com/images/space-wallpaper-hd-3.jpg");
  background-size: cover;
  background-position: left bottom;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 800px;
  font-size: 50px;
  position: relative;
  top: 35px;
  width: 100%;
}

#intro {
  font-size: 24px;
  line-height: 150%;
  color: white;
  text-align: center;
  padding: 120px;
  margin: auto;
}

p {
  padding: 15px 20%;
}

.gameIntro {
  position: relative;
  top: 50px;
}

div.catalog {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.catalog a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    display: inline;
    float: left;
    margin-left: 5%;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0 10%;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
  left: -10px;
  top: -2px;
}

li a:hover {
    background-color: #111;
}

canvas {
  color: red;
}

button {
  margin: auto;
  display: flex;
  justify-content: center;
}

iframe {
  display: block;
  position: relative;
  top: 6%;
  margin: 0 auto;

}

#game {
  position: relative;
  top: 80px;
  margin: auto;
  display: block;
}
